<?xml version="1.0"?>
<!--
    - Base      : kobuki
    - Stacks    : circles
    - 3d Sensor : xtion
-->    
<robot name="turtlebot" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find deeplearning_description)/urdf/turtlebot_common_library.urdf.xacro" />
  <xacro:include filename="$(find kobuki_description)/urdf/kobuki.urdf.xacro" />
  <xacro:include filename="$(find deeplearning_description)/urdf/stacks/hexagons.urdf.xacro"/>
  <xacro:include filename="$(find deeplearning_description)/urdf/sensors/asus_xtion_pro_dl.urdf.xacro"/>
  
  <kobuki/>
  <stack_hexagons                    parent="base_link"/>
  <sensor_asus_xtion_pro_dl          parent="base_link"/>
</robot>
