<launch>
  <arg name="map_file" default="$(find thesis_maps)/maps/office_tb_manual/office_tb_manual.yaml"/>

  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

	<node pkg="amcl" type="amcl" name="amcl" output="screen">
    	<param name="odom_model_type" value="diff"/>
    	<param name="odom_alpha1" value="0.2"/>
    	<param name="odom_alpha2" value="0.2"/>
    	<param name="odom_alpha3" value="0.2"/>
    	<param name="odom_alpha4" value="0.2"/>
    	<param name="odom_alpha5" value="0.2"/>
    	<param name="odom_frame_id" value="odom"/>
    	<param name="base_frame_id" value="base_link"/>
    	<param name="global_frame_id" value="map"/>
    	<param name="tf_broadcast" value="true"/>
	</node>

</launch>
